Tumbler.Addin.Test/obj/
Tumbler.Addin.Core/obj/
Tumbler.Addin.Test/bin/
.vs/
Addin.Menu/obj/
Tumbler.Addin.CoreTests/bin/
Tumbler.Addin.CoreTests/obj/
Tumbler.Addin.Core/bin/
Tumber.Addin.Common/obj/
Tumber.Addin.Common/bin/
